[submodule "linux/kernel"]
	path = linux/kernel
	url = https://github.com/sunplus-plus1/linux.git
[submodule "nonos/Bchip-non-os"]
	path = nonos/Bchip-non-os
	url = https://github.com/sunplus-plus1/Bchip-non-os.git
[submodule "nonos/Achip-non-os"]
	path = nonos/Achip-non-os
	url = https://github.com/sunplus-plus1/Achip-non-os.git
[submodule "boot/uboot"]
	path = boot/uboot
	url = https://github.com/sunplus-plus1/u-boot.git
[submodule "boot/xboot"]
	path = boot/xboot
	url = https://github.com/sunplus-plus1/x-boot.git
[submodule "boot/draminit"]
	path = boot/draminit
	url = https://github.com/sunplus-plus1/draminit.git
[submodule "linux/rootfs"]
	path = linux/rootfs
	url = https://github.com/sunplus-plus1/rootfs.git
[submodule "build"]
	path = build
	url = https://github.com/sunplus-plus1/build.git
[submodule "freertos"]
	path = freertos
	url = https://github.com/sunplus-plus1/freertos
[submodule "ipack"]
	path = ipack
	url = https://github.com/sunplus-plus1/ipack.git
[submodule "boot/trusted-firmware-a"]
	path = boot/trusted-firmware-a
	url = https://github.com/sunplus-plus1/trusted-firmware.git
[submodule "crossgcc"]
	path = crossgcc
	url = https://github.com/sunplus-plus1/crossgcc0.git
