[submodule "linux/kernel"]
	path = linux/kernel
	url = https://github.com/sunplus-plus1/linux.git
[submodule "nonos/Bchip-non-os"]
	path = nonos/Bchip-non-os
	url = https://github.com/sunplus-plus1/Bchip-non-os.git
[submodule "nonos/Achip-non-os"]
	path = nonos/Achip-non-os
	url = https://github.com/sunplus-plus1/Achip-non-os.git
[submodule "crossgcc"]
	path = crossgcc
	url = https://github.com/sunplus-plus1/crossgcc.git
[submodule "boot/uboot"]
	path = boot/uboot
	url = https://github.com/sunplus-plus1/u-boot.git
[submodule "boot/xboot"]
	path = boot/xboot
	url = https://github.com/sunplus-plus1/x-boot.git
[submodule "boot/draminit"]
	path = boot/draminit
	url = https://github.com/sunplus-plus1/draminit.git
[submodule "linux/rootfs"]
	path = linux/rootfs
	url = https://github.com/sunplus-plus1/rootfs.git
